body{
    background-color: rgb(199, 169, 130);
}
h1{
    background-color: aqua;
    font-style: oblique;
    text-align: justify;
}
section{
    float: center;
    text-align: left;

}
button{
    color: rgb(104, 231, 225);
    text-align-last: auto;
    background-color: rgb(200, 255, 0);
}